.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.numbersContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        font-size: 35px;
        text-transform: none;
    }
}

@media (width >= 800px) {
    .numbersContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;

      p {
        max-width: 17ch;
      }

      h2 {
        font-size: 75px;
        font-weight: bolder;
      }
    }
  }