.container {
  text-align: center;

  .description {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 85%;
    max-width: 1700px;
    text-align: justify;
    line-height: 1.5;
  }
}
