.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        margin-bottom: 30px;
    }

    img {
        height: 32px;
        width: 32px;
        align-self: center;
    }

    a:hover {
        cursor: pointer;
        transform: scale(1.10);
    }

    .email {
        background-color: var(--project-card-bg);
    }
}