.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  p {
    margin-bottom: 30px;
  }

  img {
    height: 32px;
    width: 32px;
    align-self: center;
  }

  a {
    display: inline-block;
    margin: 0;
  }

  a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

  .email {
    width: 40px;
    height: 28px;
    border-radius: 7px;
  }
}

